@tailwind base;
@taiwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full h-full bg-gray-darker;
  }
}

@layer components {
  #root {
    @apply h-full w-full bg-gray-darker;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
